/*https://coolors.co/00424b-004953-319177-f7e7ce-c44536-9e3a2e-772e25*/
/*Merriweather and Open Sans*/

body {
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
}

#header-nav {
    background-color: white;
    border-radius: 0;
    border: 0;
}

#logo-text {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #319177;
    margin-right: 100px;
}

 .nav-item > nav {
    color: #319177;
}

#logo-text:hover, #logo-text:focus {
    text-decoration: none;
    color: #004953;
}

a:hover, a:focus {
    text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49,145,119,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,73,83,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
} 

#navbarDropdown, .dropdown-menu, .dropdown-item, #nav-item-color {
    color: #319177;
    padding-left: 40px;
    padding-right: 40px;
}

.dropdown-menu, #nav-item-color {
    font-size: 1.1em;
}

#navbarDropdown:hover, .dropdown-menu:hover, .dropdown-item:hover, #nav-item-color:hover {
    color: #004953;
}

.dropdown-toggle::after {
    content: none;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	