/*https://coolors.co/00424b-004953-319177-f7e7ce-c44536-9e3a2e-772e25*/
/*Merriweather and Open Sans*/

body {
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
}

#header-nav {
    background-color: white;
    border-radius: 0;
    border: 0;
}

#logo-text {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #319177;
    margin-right: 100px;
}

 .nav-item > nav {
    color: #319177;
}

#logo-text:hover, #logo-text:focus {
    text-decoration: none;
    color: #004953;
}

a:hover, a:focus {
    text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49,145,119,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,73,83,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
} 