/*Merriweather and Open Sans*/

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.navbar {    
    position: absolute;
}

h1 {
    font-family: 'Merriweather', sans-serif;
    color: #5b41b7;
    font-size: 2em;
    padding-top: 1em;
}

h2 {
    color: #5390d9;
    font-family: 'Merriweather', sans-serif;
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 150%;
}

h3 {
    color: #5390d9;
    font-family: 'Merriweather', sans-serif;
    padding-top: 2em;
}

#header-nav {
    border-radius: 0;
    border: 0;
}

#logo-text {
    font-family: 'Merriweather', sans-serif;
    font-size: 2em;
    color: white;
    margin-right:auto;
    margin-left: auto;
}

.nav-item > nav {
    color: white;
}

#logo-text:hover, #logo-text:focus {
    text-decoration: none;
    color: #5390d9;
}

a:hover, a:focus {
    text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(83,144,217,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border: none;
} 

#navbarDropdown, .dropdown-menu, #nav-item-color {
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.dropdown-item {
    color:#5390d9;
}

.dropdown-item:hover {
    color: #6448c9;
}

.dropdown-menu, #nav-item-color, #navbarDropdown {
    font-size: 1.15em;
}

#navbarDropdown:hover, .dropdown-menu:hover, #nav-item-color:hover {
    color: #5390d9;
}

.dropdown-toggle::after {
    content: none;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	

#main-title {
    padding-top: 4em;
    color: #ffffff;
    font-size: 4em;
    text-align: center;
}

.jumbotron {
    background: linear-gradient(306deg, #5b41b7,#6448c9,#5390d9,#48bfe3,#64dfdf,#80ffdb);
    background-size: 1200% 1200%;
    animation: gradient 10s ease infinite;
    height: 40em;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container-fluid {
    padding:0;
    margin:0;
}

@media (max-width: 760px) {
    .navbar {
      background-color: white!important;
    }
    
    .dropdown-item, #navbarDropdown, .dropdown-menu, #nav-item-color {
        color:#5390d9;
        padding-left: 0px;
        margin-left: 0px;
        text-align: right;
    }

    #logo-text {
        color: #5390d9;
        text-align: left;
        margin-left: 1em;
    }
    
    .dropdown-item:hover, #navbarDropdown:hover, .dropdown-menu:hover, #nav-item-color:hover, #logo-text:hover {
        color: #6448c9;
    }
    
    .dropdown-menu, #nav-item-color {
        font-size: 1.1em;
        border: none;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(83,144,217,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .custom-toggler .navbar-toggler-icon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(83,144,217,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    
}

@media (min-width: 1024px) {
    #main-title {
        text-align: left;
    }
}

@media (max-width: 300px) {
    #main-title {
        font-size: 3em;
    }
}

.panel-footer {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-top: 0;
}

#logo-text-footer {
    color: #5390d9;
    font-family: 'Merriweather', sans-serif;
    font-size: 2em;
}

#logo-text-footer:hover {
    color: #5b41b7;
}

.fa {
    display:inline-block;
    font-size: 1.5em;
    padding: 0;
    line-height: 40px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
}

.fa-envelope {
    background: #48bfe3!important;
    color: white;
}

.fa-facebook {
    background: #5390d9;
    color: white;
}

.fa-linkedin {
    background: #6448c9;
    color: white;
}

.fa-instagram {
    background: #3e2c7e;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

#social-media {
    text-align: right;
}

@media (max-width: 576px) {
    #logo-footer, #social-media {
        text-align: center;
    }
    .panel-footer {
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}

#jumbotron-banner {
    height: 20em;
    padding-top: 0px;
}

@media (max-width: 768px) {
    #jumbotron-banner {
        height: 25em;
    }
}

.page-title {
    padding-top: 3em;
    color: #ffffff;
    font-size: 4em;
    text-align: center;
}

@media (min-width: 1024px) {
    .page-title {
        text-align: left;
    }
}

@media (max-width: 300px) {
    .page-title {
        font-size: 3em;
    }
}

div#guide > p, div#guide > a {
    display:inline-block;
    background-color: whitesmoke;
    color: #5390d9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1em;
    height: 10em;
    margin-bottom: 0px;
    padding: 0;
    border: none;
}

div#guide > p:hover, div#guide > a:hover {
    background-color: #5390d9;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 576px) {
    div#guide > p {
        margin: 1em 0;
    }
}

ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}

img {
    max-width: 100%;
}

a {
    overflow-wrap: break-word;
}

.btn {
    color: #48bfe3;
    border-color: #48bfe3;
    background-color: white;
    font-size: 14px;
}

.btn:hover {
    color: white;
    background-color: #5390d9;
    border-color: white;
}

.accordion {
  background-color: #ffffff;
  color: #5390d9;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 1em;
}

div#guide > p:hover > a {
    color: #ffffff;
}

#myBtnContainer > .btn {
    margin-left: 1em;
    margin-right: 1em;
}

.container {
    overflow: hidden;
  }
  
.filterDiv {
    display: none; /* Hidden by default */
  }

.show {
    display: block;
  }

figcaption {
    margin-top: 5px;
    font-size: 11px;
    font-style: italic;
}

figure {
    margin: 2em;
}

figure.pull-left {
    margin-left: 0px;
    margin-right: 3em;
}

.name {
    margin-top: 1em;
    font-weight: bold;
    font-size: 120%;
}

.position {
    font-style: italic;
}

#card {
    margin-bottom: 0px;
    border: none;
    color: black;

}

#card > img {
    border-radius: 60px;
}

.btn:hover {
    background-color: #eee;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
  }

.modal-body, .modal-header > * {
    margin-left: 3%;
    margin-right: 3%;
}

.modal-body > img {
    margin-bottom: 2em;
}

.modal-body p {
    word-wrap: break-word;
}

#card {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.col-sm-3 {
	align-items: center;
}

@media (max-width: 992px) {
	#card {
		padding-left: 20%;
	}
}

.btn-light {
	margin-bottom: 2.5em;
}

.beef {
	display: none;
}

.boi {
	font-size: 15px;
}

.btn-primary, #teamcard {
	background-color: white;
}

#teamcard {
	text-align: center;
}

.name {
    margin-top: 1em;
    font-weight: bold;
    font-size: 120%;
}

#teamcard > .name {
	font-size: 100%;
	margin-bottom: 1.5em;
}

.position {
    font-style: italic;
}

#card, #teamcard {
    margin-bottom: 1.5em;
    border: none;
    color: black;

}

#card > img {
    border-radius: 50%;
}

#teamcard > img {
	border-radius: 50%;
}

#journals {
    margin-bottom: 3em;
    margin-top: 2em;
}

#guide {
    margin-top: 1.5em;
}

table, th, td {
    border: 1px solid black;
    font-size: 12px;
  }

  th, td {
    padding: 10px;
  }